/* make "a" tags darker to increase contrast ratio */
.bootstrap .canliiContent a {
    color: #0010e2 !important;
}

.bootstrap h2,
.bootstrap .h2 {
    margin: 0.5em 0 1em !important;
}

.bootstrap hr {
    margin: 2em 0 !important;
}

.canliiContent #browseJurisdictions li,
.canliiContent #otherResources li {
    margin-bottom: 0.75em !important;
}

.canliiContent div.items table td,
.canliiContent div.decisionsListing table td {
    padding: 0.75em 0 !important;
}

.canliiContent div.items table td.canlii-label,
.canliiContent div.items table td.canlii-label.date,
.canliiContent div.decisionsListing table td.decisionDate,
.canliiContent div.items table td.labelPrint {
    padding-right: 1em !important;
}